
.switch {
    cursor: pointer;

	.fa {
	    vertical-align: -5px;
	    margin-right: .25em;
	}

	.active {
	    display: none;
	}

	input[type="radio"] {
	    position: relative;
	    z-index: -1;
	}
	&.checked {
		.active {
		    display: inline-block;
		}
		.inactive {
		    display: none;
		}
	}
}


label {

	input[type="radio"] ~ i.fa.fa-circle-o{
	    color: #c8c8c8;    display: inline;
	}
	input[type="radio"] ~ i.fa.fa-dot-circle-o{
	    display: none;
	}
	input[type="radio"]:checked ~ i.fa.fa-circle-o{
	    display: none;
	}
	input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
	    color: #7AA3CC;    display: inline;
	}

	input[type="checkbox"] ~ i.fa.fa-square-o{
	    color: #c8c8c8;    display: inline;
	}
	input[type="checkbox"] ~ i.fa.fa-check-square-o{
	    display: none;
	}
	input[type="checkbox"]:checked ~ i.fa.fa-square-o{
	    display: none;
	}
	input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
	    color: #7AA3CC;    display: inline;
	}

	input[type="checkbox"]:checked ~ i.fa.fa-check-square-o {
	    color: $brand-danger !important;
	    display: inline;
		left: 2px;
	}

	&:hover {
		input[type="radio"] ~ i.fa {
			color: #7AA3CC;
		}

		input[type="checkbox"] ~ i.fa {
			color: #7AA3CC;
		}
	}

}

div[data-toggle="buttons"] {
	label {
		&:active,
		&.active {
			@include vendor(box-shadow, none);
		}
	}
}
