.panel-primary {
    border-color: $brand-primary;
	> .card-header {
	    color: $white;
	    background-color: $brand-primary;
	    border-color: $brand-primary;
	}
}

.panel-info {
    border-color: $brand-info;
	> .card-header {
	    color: $white;
	    background-color: $brand-info;
	    border-color: $brand-info;
	}
}

.panel-success {
    border-color: $brand-success;
	> .card-header {
	    color: $white;
	    background-color: $brand-success;
	    border-color: $brand-success;
	}
}

.panel-warning {
    border-color: $brand-warning;
	> .card-header {
	    color: $white;
	    background-color: $brand-warning;
	    border-color: $brand-warning;
	}
}

.panel-danger {
    border-color: $brand-danger;
	> .card-header {
	    color: $white;
	    background-color: $brand-danger;
	    border-color: $brand-danger;
	}
}

.label{
	padding: 0.25em;
	border-radius: 0.25em;
}

.navbar .navbar-nav .dropdown.profile .dropdown-menu .profile-body{
	padding-left:10px;
  }
   
  img.profile-img{
	height: 60px;
	  width: 60px;
	  float:left;
	  border-radius:50%;
	  margin-right:10px;
  }