
// Social Media
$facebook: #4863ae;
$twitter: #46c0fb;
$google: #DD4B39;
$github: #4183C4;

// Brands
$brand-primary: #2ab27b;
$brand-info: #17a2b8 !important;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;
$text-color: #636b6f;



// Transitions
$transitionSpeed: 0.35s;

// Radius'
$standard-radius: 5px;

// MQ's
$mq-tiny: 320px;
$phone: 480px;
$bs4-phone: 576px;
$tablet: 767px;
$desktop: 992px;
$lg-desktop: 1200px;

// Margins and Padding
$num-of-classes: 5;
$directions: ('top', 'bottom', 'left', 'right');
$types: ('margin', 'padding');
$queries: (
    $mq-tiny: 'xxs',
    $phone: 'xs',
    $tablet: 'sm',
    $desktop: 'md',
    $lg-desktop: 'lg'
);

